

body {
    color : black;
    background-image: url('https://img.freepik.com/fotos-premium/ruido-blanco-fondo-abstracto-estatico-disenos-modernos_851755-382245.jpg');
    margin-right:20% ;
    margin-left:20% ;
    text-align:center;
    font-family:Gergia, 'Times New Roman' , Times, serif;  
}

#encabezado{
     text-align:center;
     color:burlywood;
     background-color: black;
     font-family:"serif";
     font-size:x-large;
     margin-bottom:50 ;
     margin-right:20% ;
     margin-left:20% ;
     border-style: dotted;
     border-width: 15;

}


.titulo{
        color:black;
        background-color:beige;
        font-family: "Lucida Handwriting", cursive;        
        border-style:dashed;
        border-width: 3;
        font-size:x-large;

}

.descripcion{
   display:none;
   color:black;
   text-align: justify ; /* Alinea el contenido a la izquierda */
   vertical-align: middle; /* Alinea verticalmente */
   width: 40%; /* Ajusta el ancho para que no se sobrepongan */
   /*Animación*/
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline:--reveal;
    animation-range: entry 25% cover 50%;

}

#imagen {
    color:lightgray;
    border-width: 2;
    font-size:x-large;
    border-style: dashed;
    display: inline-block; /* Hace que el texto y la imagen estén en la misma línea */
    vertical-align: middle; /* Alinea verticalmente */
    width: 40%; /* Ajusta el ancho para que no se sobrepongan */    

    /*Animación*/
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline:--reveal;
    animation-range: entry 25% cover 50%;

}


@keyframes show {
    from {
        opacity: 0; scale: 10%
    }
    to {
        opacity: 1; scale: 100%
    }
}


 #miercoles, #jueves, #viernes, #sabado{
    display: none;
    
}


button {
    background-color: black;  
    color: burlywood; 
    font-size: 18px; 
    border-radius: 8px; 
    padding: 10px 20px;
    position: relative;

}
    
button::before {

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #DEB887, #FFD700, #8B4513);  
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  
}

  button::after  {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 2px; 
    background: linear-gradient(to left, #FFD700, #8B4513, #DEB887);  
    z-index: 1; 
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  
  }
  
  button:hover::before {

    transform: scaleX(1);
  
  }

  button:active::after{

    transform: scaleX(1);
  
  }
  